In [1]:
import pandas as pd
import urllib3

medals_url = "http://winterolympicsmedals.com/medals.csv"

http = urllib3.PoolManager()
r = http.request('GET', medals_url)
r.status
response = r.data

str_response = response.decode("ascii")
split_response = str_response.split("\n")
columns = split_response[0].split(",")

main_dic = {}
for col in columns:
    main_dic[col] = []
for line in split_response[1:]:
    valores = line.split(",")
    for i in range(len(columns)):
        main_dic[columns[i]].append(valores[i])

data_frame_medal = pd.DataFrame(main_dic)
data_frame_medal.head()
#print(r.headers)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold